@import "tailwindcss";

/* @tailwind base;
@tailwind components; */
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@theme {
  --font-heading: var(--font-oxanium);
  --font-body: var(--font-montserrat);
  --font-sans: var(--font-montserrat);
  --color-amerta-teal: #55bf95;
  --color-amerta-blue: #243f7d;
  --background-btn-gradient: linear-gradient(to right, #55bf95, #243f7d);
}

@layer components {
  /* Class untuk konten yang sejajar rapi */
  .amerta-container {
    @apply container mx-auto px-6 md:px-12 lg:px-24;
  }

  /* Class untuk supergraphic yang nempel ke pinggir layar */
  .supergraphic-bg {
    @apply absolute pointer-events-none select-none z-0 opacity-40;
  }

  /* Garis Dekoratif Amerta */
  .amerta-line {
    @apply w-20 h-1.5 bg-linear-to-r from-amerta-teal to-amerta-blue rounded-full;
  }

  /* Button Amerta (Primary) */
  .amerta-btn-primary {
    @apply font-heading flex items-center gap-3 px-6 py-2 font-semibold text-white text-sm
           bg-linear-to-r from-amerta-teal to-amerta-blue
           rounded-tr-2xl rounded-bl-2xl
           hover:scale-105 hover:shadow-lg hover:shadow-amerta-teal/30
           transition-all duration-300 active:scale-95 ease-in-out cursor-pointer;
  }

  /* Slide yang lagi gak aktif / di belakang */
  .portfolio-slide-inactive {
    @apply scale-90 opacity-60 blur-[2px] transition-all duration-500;
  }
  
  /* Slide yang aktif / di depan */
  .portfolio-slide-active {
    @apply scale-100 opacity-100 z-20 transition-all duration-500;
  }
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
